@model RolePermisionsVM
@{
    ViewData["Title"] = "edit";
    int j = 0;
}
<div class="container">
    <h1 class="my-5">Edit</h1>
    <form asp-action="edit">
        <div class="row mb-3 col-7 justify-content-center align-content-center" >
            <label asp-for="@Model.Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10" style="width:30%;">
                <input asp-for="@Model.Id" type="hidden" class="form-control">

                <input asp-for="@Model.Name" class="form-control">


            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <button type="submit" class="btn btn-primary" style="position:relative">Save</button>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Page</th>
                    <th scope="col">View</th>
                    <th scope="col">Add</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Pages.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.Pages[i]">


                    <tr>
                        <th scope="row">@Model.Pages[i]</th>
                        @for (int x = 0; x < 4; x++)
                        {
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="@Model.AllPermissions[j].isSelected">
                                    <input type="hidden" asp-for="@Model.AllPermissions[j].ClaimValue">


                                </div>

                            </td>
                            j++;

                        }

                    </tr>
                }


            </tbody>
        </table>

    </form>
</div>

@*@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}*@





