@model List<RoleUsersVM>
@{
    ViewData["Title"] = "Index";
    int i = 1;

}
<div class="container">
    <h1 class="my-5">All Groups</h1>
    <a asp-controller="Role" asp-action="add" >Add new group</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Role Name</th>
                <th scope="col">Users</th>
                <th scope="col">Permissions</th>
                <th scope="col">Options</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <th scope="row">@(i++)</th>
                    <td>@role.RoleName</td>
                    <td>
                        <ul>
                            @foreach (var user in role.Users)
                            {
                                <li>@user</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ol class="overflow-auto" style="height:7rem;width:18rem; overflow:auto;">

                            @foreach (var claim in role.RoleClaims)
                            {
                                <li>@claim</li>
                            }
                        </ol>


                    </td>

                    <td>
                        @if(role.RoleName!="SuperAdmin"){
                            <a asp-controller="Role" asp-action="edit" asp-route-Id="@role.Id">Edit | </a>
                            <a asp-controller="Role" asp-action="delete" asp-route-Id="@role.Id" onclick="return confirm('By deleting all users in the group will be deleted')">Delete</a>
                        }
                        

                    </td>

                </tr>
            }


        </tbody>
    </table>
</div>
