@model HRSystem.Models.GeneralSettings

@{
    ViewData["Title"] = "Index";
}
<div class="container m-5">
    <h4>GeneralSettings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddHourRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddHourRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeducateHourRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeducateHourRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekRest1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekRest1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekRest2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekRest2)
        </dd>
    </dl>
</div>
<div class="m-5">
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
