@model List<Employee>
@{
    
    ViewData["Title"] = "Index";
    int i = 1;
}

<div class="container">
    <h1 class="my-4">All Employees</h1>
    <a asp-action="add" class="py-5" >Add</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">HireDate</th>
                <th scope="col">Salary</th>
                <th scope="col">Attendance Time</th>
                <th scope="col">Leaving Time</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee e in Model)
            {
                <tr>
                    <th scope="row">@(i++)</th>
                    <td>@e.Name</td>
                    <td>@e.Address</td>
                    <td>@e.Phone</td>
                    <td>@e.HireDate.ToString("dd/MM/yyyy")</td>
                    <td>@e.Salary</td>
                    <td>@e.AttendanceTime.ToString("hh:mm:ss")</td>
                    <td>@e.LeavingTime.ToString("hh:mm:ss")</td>
                    <td>
                        @*<a asp-controller="Employee" asp-action="edit" asp-route-Id="@e.Id">Edit | </a>*@
                        <a asp-controller="Employee" asp-action="getDetails" asp-route-Id="@e.Id" class="btn btn-primary">Details </a>
                        @*<a asp-controller="Employee" asp-action="delete" asp-route-Id="@e.Id" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>*@
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>

